body {
    background-color: hsl(120, 100%, 80%);
}
hr {
   
    border-color: grey;
    border-width: 10px;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
}

img {
    width: 250px;
    height: 250px;
}

h1 {
   color: #483838;
}

h3{
   color: #42855B;
}