#title {
   background-color: #ff4c68;
   color: #fff;
}

#features {
    margin: 150px 150px 150px 150px;
    padding: auto;
}
h1 {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}

.p-features {
    color: #8f8f8f;
}

.h3-features {
   font-family: "Montserrat";
   font-size: 1.5rem;
   padding: 15px 15px 15px 15px;
}

.container-fluid {
    padding-left: 15% !important;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
    padding-right: 15% !important;
}
body {
    font-family: "Montserrat";
}

.navbar {
   padding-bottom: 4.5rem !important;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 4rem !important;
    font-weight: bold;
}

.navbar-item {
    padding: 0 18px !important;
}

.nav-link {
    font-size: 1.5rem !important;
    font-family: "Montserrat-Light";
}

/* Download Buttons */

.dndbtn {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.titleimg {
    width: 60%;
    transform: rotate(25deg);
}

i:hover {
    color: #ff4c68;
}