#title {
   background-color: #ff4c68;
   color: #fff;
}

#features {
    margin: 150px 150px 150px 150px;
    padding: auto;
}
h1 {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}
.p-features {
    color: #8f8f8f;
}

.h3-features {
   font-family: "Montserrat";
   font-size: 1.5rem;
   padding: 15px 15px 15px 15px;
}

.container-fluid {
    padding-left: 15% !important;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
    padding-right: 15% !important;
}
body {
    font-family: "Montserrat";
}

.navbar {
   padding-bottom: 4.5rem !important;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 4rem !important;
    font-weight: bold;
}

.navbar-item {
    padding: 0 18px !important;
}

.nav-link {
    font-size: 1.5rem !important;
    font-family: "Montserrat-Light";
}

/* Download Buttons */

.dndbtn {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.titleimg {
    width: 60%;
    transform: rotate(25deg);
    padding-left: 100px !important;
}

i:hover {
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
    text-align: center;
    background-color: tomato;
    color: #fff;
}

.test-img {
    border-radius: 100%;
    width: 10%;
}

#press {
    background-color: tomato;
    text-align: center;
    padding-bottom: 3%;

}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    height: 500px;
    padding: 7% 15%;
}

.card-row {
    padding: 2% 10%;
}

.pricing-header {
    padding: 5% 5%;
}