/**************TAG SELECTORS **********************/
h1 {
    color: red;
    font-size: 200px;
}
img:hover{
  background-color: gold;
}
/************** CLASS SELECTION **************/
.spinach {
    background-color: green;
    width: 150px;
    height: 150px;
}

.bacon {
    background-color: red;
    width: 150px;
    height: 150px;
}

.circular {
    border-radius: 100%;
}
/*******************ID SELECTORS **************/

#heading {
    color: blue;
}